@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "reset";
@import "variables";

body {
    font-family: $fontNormal;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger-button {
    position: relative;
    height: 30px;
    min-width: 48px;
    background-color: transparent;
    @media screen and (max-width: 600px) {
        order: 1;
    }
    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 8px;
        left: 0;
        right: 0;
        background-color: $main-color;
    }
    &::before {
        bottom: 0;
    }
    &::after {
        top: 0;
    }
}

.counter {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @media screen and (max-width: 600px) {
        display: none;
    }
}

.ttl {
    font-size: 40px;
}

.button {
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    background-color: $main-color;
    color: #fff;
    transition: background-color .4s;
    &:hover {
        background-color: adjust-hue($main-color, 90);
    }
}

.header {
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 154px;
    padding: 55px;
    background-color: #fff;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            padding: 20px;
        }
    }
}



.home {
    position: relative;
    padding: 160px 20px 120px;
    background: url(../img/mainsection.jpg) no-repeat;
    background-size: cover;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__img {
        display: block;
        margin-top: 10vh;
        width: 100%;
        max-width: 1300px;
        height: auto;
    }
    &__ttl {
        margin: 30px;
    }
    &__button {
        margin: 30px auto;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -12%;
        height: 24%;
        background: url(../img/vawe.svg);
    }
}
